<h1><%- group.get("name") %></h1>
<% if (group.get("description")) { %>
	<p><%= group.get("description") %></p>
<% } %>

<% if (admin) { %>
<p><a href="/group/<%- group.get("slug") %>/edit">Edit group info and group traits</a></p>
<% } %>

<h3>Members</h3>
<% if (admin) { %>
<p><a href="/group/<%- group.get("slug") %>/members">Manage members</a></p>
<% } %>

<ul>
	<% _.each(members, function(member, i) { %>
		<li><a href="/profile/<%= member.get("slug") %>"><%= member.get("profile").get("t_" + settings.global.fname) %> <%= member.get("profile").get("t_" + settings.global.lname) %></a></li>
	<% } ) %>
</ul>

<p><a href="/group/<%- group.get("slug") %>/leave">Leave this group</a></p>