<h1>Profile matches</h1>

<% if (typeof(traits) !== 'undefined' && traits.length > 0) { %>
<p> 
    <% _.each(traits, function(trait, i) { %>
        <%- trait.get("name") + ": " + trait.get("value") %>
        <% if (i !== trait.length) { %> 
        <br />  
        <% } %>
    <% }); %>
</p>
<% } %>

<% if (typeof(groups) !== 'undefined' && groups.length > 0) { %>
    <% _.each(groups, function(group) { %>
        <h3><a href="/group/<%= group.slug %>"><%= group.name %></a></h3>
        <ul>
        <% _.each(profiles[group.slug], function(profile) { %>
            <li><a href="/profile/<%= profile.get("slug") %>"><%= profile.get("t_" + settings.global.fname) %> <%= profile.get("t_" + settings.global.lname) %></a></li>
        <% }); %>
        </ul>
    <% }); %>
<% } else if (groups.length == 0) { %>
<p>Gotta <a href="/group/new">be in a group</a> before you can have any matches!</p>
<% } else { %>
<p>Huh, no matches. Go <a href="/">home</a>?</p>
<% } %>

        