
<h1><%- group.get("name") %></h1>
<% if (group.get("description")) { %>
	<p><%- group.get("description") %></p>
<% } %>

<p><a href="/group/<%- group.get("slug") %>/edit">Edit group info</a></p>

<h3>Members</h3>

<ul>
	<% _.each(members, function(member, i) { %>
		<li><a href="/group/#"><%= member.get("profile").get(settings.global.fname) %> <%= member.get("profile").get(settings.global.lname) %></a><br /></li>
	<% } ) %>
</ul>
<% if (invitations && invitations.length > 0) { %>
	<h3>Invitations</h3>
	<ul>
		<% _.each(invitations, function(invitation, i) { %>
			<li><%= invitation.get("email") %></li>
		<% } ) %>
	</ul>
<% } %>


<p><a href="/group/<%- group.get("slug") %>/leave">Leave this group</a></p>