<p><a href="/group/<%- group.get("slug") %>">View group</a></p>


<form method="post" action="<%- '/group/' + group.get('slug') %>">
	<fieldset>
		<legend>Edit group info</legend>

		<label for="group-name">Name</label>
        <input name="name" id="group-name" type="text" placeholder="Name" value="<%- group.get("name") %>">
        
        <label for="group-slug">URL</label>
        <input name="slug" id="group-slug" type="text" placeholder="URL" value="<%- group.get("slug") %>">
        
        <label for="description">Description</label>
        <input name="description" id="description" type="textarea" placeholder="Description" value="<%- group.get("description") %>">

        <input type="hidden" name="id" value="<%- group.id %>" />
        <br />
        <!--<input type="hidden" name="secretive" value="n" />
        <input name="secretive" id="secretive" type="checkbox" value="y"<% if (group.get("secretive") == "y") { %> checked="checked"<% } %>> 

        <label for="secretive">Prevent members of this group from viewing other members (not recommended)</label>
        <br />-->
        <input type="hidden" name="_method" value="put" />
        <input class="button" type="submit" value="Save changes" />
	</fieldset>
</form>
<form method="post" action="<%- '/group/' + group.get('slug') + '/trait' %>">
    <fieldset>
        <legend>Add a new group custom trait</legend>
        <p>How does this work? TODO: add tooltip and guidance</p>
        <label for="name">Name</label>
        <input name="name" id="name" type="text" placeholder="Name" value="">
        
        <br />
        <label for="type">Type</label>
        <select name="type" id="type">
            <option value="text">Text</option>
            <option value="date">Date</option>
            <option value="radio">Radio buttons</option>
            <option value="select">Dropdown list</option>
            <option value="checkbox">Checkboxes</option>
        </select>
        <input type="text" name="listoption[]" value="" /> <br />
        <input type="text" name="listoption[]" value="" /> <br />

        <input type="hidden" name="group" value="<%- group.id %>" />
        <br />
        
        <input class="button" type="submit" value="Create group trait" />
    </fieldset>
</form>

<% if (typeof(traits) !== 'undefined' && traits.length > 0) { %>
    <h3>Edit group traits</h3>
    <% _.each(traits, function(trait) { %>
        <form method="post" action="<%- '/group/' + group.get('slug') + '/trait' %>">
            <fieldset>
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="Name" value="<%= trait.get("name") %>">
                <br />
                <label for="type">Type</label>
                
                <select name="type" id="type">
                    <option value="text"<% if (trait.get("type") == "text") { %> selected="selected"<% } %>>Text</option>
                    <option value="date"<% if (trait.get("type") == "date") { %> selected="selected"<% } %>>Date</option>
                    <option value="radio"<% if (trait.get("type") == "radio") { %> selected="selected"<% } %>>Radio buttons</option>
                    <option value="select"<% if (trait.get("type") == "select") { %> selected="selected"<% } %>>Dropdown list</option>
                    <option value="checkbox"<% if (trait.get("type") == "checkbox") { %> selected="selected"<% } %>>Checkboxes</option>
                </select>
                <br />
                <% if (trait.get("type") == "radio" || 
                    trait.get("type") == "select" ||
                    trait.get("type") == "checkbox") { 
                        _.each(trait.get("listoption"), function(option) { %>
                        <input type="text" name="listoption[]" value="<%= option %>" /> <br />
                    <% }); 
                } %>
                <br />
                <input type="hidden" name="id" value="<%= trait.id %>" />
                <input type="hidden" name="_method" value="put" />
                <input class="button" type="submit" value="Save changes">
                <a href="/trait/<%= trait.id %>/delete">Delete</a>
            </fieldset>
        </form>
    <% } ) %>

    <br />
            
<% } %>

<form method="post" action="<%- '/group/' + group.get('slug') + '/invite' %>">
    <fieldset>
        <legend>Invite members</legend>
        <label for="inviteMembers">Enter email addresses separated by commas</label>
        <br />
        <textarea name="inviteMembers" id="inviteMembers" rows="3"></textarea>
        <input type="hidden" name="group" value="<%- group.id %>" />
        <input class="button" type="submit" value="Send invitations" />
    </fieldset>
</form>

<h3>Current members</h3>


<p><a href="/group/<%- group.get("slug") %>/delete">Delete this group (there is no undo)</a></p>