
<form method="post" action="<%- '/group/' + group.get('urlName') %>">
	<fieldset>
		<legend>Edit group</legend>

		<label for="name">Name</label>
        <input name="name" type="text" placeholder="Name" value="<%- group.get("name") %>">
        
        <label for="urlName">URL</label>
        <input name="urlName" type="text" placeholder="URL" value="<%- group.get("urlName") %>">
        
        <label for="description">Description</label>
        <input name="description" type="textarea" placeholder="Description" value="<%- group.get("description") %>">

        <input type="hidden" name="id" value="<%- group.id %>" />
        
        <input type="hidden" name="_method" value="put" />
        <input class="button" type="submit" value="Save changes">
	</fieldset>
</form>

<p><a href="/group/<%- group.get("urlName") %>">View group</a></p>