<!doctype html>
<html class="no-js" lang="en">
  	<head>
    	<title>SetMatch</title>
	    <link rel="shortcut icon" href="/favicon.png" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/foundation.min.css" />
        <script src="/js/modernizr.js"></script>
  	</head>
  	<body>
        <div class="contain-to-grid">
      		<nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                      <h1><a href="/">SetMatch</a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
                </ul>
                <section class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right">
                        
                        <% if (Parse.User.current()) { %>
                        <li class="has-dropdown">
                            <a href="/groups">Groups</a>
                            <ul class="dropdown">
                                <% _.each(basicGroups, function(group, i) { %>
                                    <li><a href="/group/<%= group.get("urlName") %>"><%= group.get("name") %></a></li>
                                <% } ) %>
                                <li><a href="/group/new">+ new group</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <!-- TODO: Global variable-ize -->
                            <a href="/profile/"><img src="<%= basicUser.get("gravatar") %>?s=40&d=identicon" />
                                <%= basicProfile.get(settings.global.fname) %> 
                                <%= basicProfile.get(settings.global.lname) %></a>
                            <ul class="dropdown">
                                <li><a href="/profile/edit">Edt profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                        <% } %>
                    </ul>

                </section>
            </nav>
        </div>
        
        <div class="row">

            <% include flashify %>

    		<%- body %>
        </div> <!-- /.row -->
        <div class="row">
    		<footer>
    			<p>&copy; <%= copyrightDate() %></p>
    		</footer>
        </div> <!-- /.row -->
        <script>
            Modernizr.load([
                { 
                    load: '//code.jquery.com/jquery-1.10.1.min.js',
                    complete: function () {
                        if ( !window.jQuery ) {
                            Modernizr.load('/js/vendor/jquery.js');
                        }
                    }
                },
                {
                    load: '/js/foundation.min.js'
                },
                {
                    load: '/js/setmatch.js'
                },
                { 
                    test: Modernizr.touch,
                    yep: '/js/vendor/fastclick.js',
                    callback: function(){FastClick.attach(document.body);}
                }
            ]);
        </script>

  	</body>
</html>
