<!doctype html>
<html class="no-js" lang="en">
  	<head>
    	<title>SetMatch</title>
	    <link rel="shortcut icon" href="/favicon.png" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/foundation.min.css" />
  	</head>
  	<body>
  		<header >
  			<h1>SetMatch</h1>
            <% if (typeof(basicUser) !== 'undefined') { %>
                Email: <%= basicUser.getEmail() %>
                Name: <%= basicProfile.get("t_k6Yvd0KigQ") %> <%= basicProfile.get("t_muYKFBATSO") %>
                <img src="" />
            <% } %>
            <% if (Parse.User.current()) { %>
            <nav>
                <ul>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <% } %>
  		</header>

        <% include flashify %>

		<%- body %>

		<footer>
			<p>&copy; <%= copyrightDate() %></p>
		</footer>

		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/js/foundation.min.js"></script>
  	</body>
</html>
