<!DOCTYPE html>
<html>
  	<head>
    	<title>SetMatch</title>
	    <link rel="shortcut icon" href="/favicon.png" />
  	</head>
  	<body>
  		<header>
  			<h1>SetMatch</h1>
            <% if (typeof(basicUser) !== 'undefined') { %>
                Email: <%= basicUser.getEmail() %>
                Name: <%= basicUser.get("fname") %> <%= basicUser.get("lname") %>
            <% } %>
            <% if (Parse.User.current()) { %>
            <nav>
                <ul>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <% } %>
  		</header>

        <% include flashify %>

		<%- body %>

		<footer>
			<p>&copy; <%= copyrightDate() %></p>
		</footer>

		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  	</body>
</html>
