
<% if (typeof(error) !== 'undefined') { %>
	<p><%= error %></p>
	<p><%= errorParseMessage %></p>
<% } %>
<% if (typeof(message) !== 'undefined') { %>
	<p><%= message %></p>
<% } %>
<h2>Profile data</h2>

<%- JSON.stringify(profile) %>
<br />
**<% _.each(_.keys(profile.attributes), function(key) { %>
<%= key + ": " + profile.get(key) %>
<% }) %>**

<p>Email</p>
<%- user.getEmail() %>

<p>Photo</p>
var secureUrl = gravatar.url('emerleite@gmail.com', {s: '100', r: 'x', d: 'retro'}, true);

<% if (typeof(invites) !== 'undefined' && invites.length > 0) { %>
	<h3>You've been invited to these groups</h3>
<%- JSON.stringify(invites) %>
	<% _.each(invites, function(invite, i) { %>
		<%= invites[i].get("name") %> <a href="/group/<%= invites[i].get("urlName") %>/join">Join</a><br />
	<% } ) %>
<% } %>

<% if (typeof(groups) !== 'undefined' && groups.length > 0) { %>
	<h3>Your groups</h3>
	<% _.each(groups, function(group, i) { %>
		 <a href="/group/<%= groups[i].get("urlName") %>"><%= groups[i].get("name") %></a><br />
	<% } ) %>
<% } %>

<br />


<p><a href="/profile/edit">Edit profile</a></p>