
<% if (typeof(error) !== 'undefined') { %>
	<p><%= error %></p>
	<p><%= errorParseMessage %></p>
<% } %>
<% if (typeof(message) !== 'undefined') { %>
	<p><%= message %></p>
<% } %>

First name:
<%- user.get("fname") %>
<br />

Last name:
<%- user.get("lname") %>
<br />

Email
<%- user.getEmail() %>

<p><a href="/profile/edit">Edit profile</a></p>