
<% if (typeof(error) !== 'undefined') { %>
	<p><%= error %></p>
	<p><%= errorParseMessage %></p>
<% } %>
<% if (typeof(message) !== 'undefined') { %>
	<p><%= message %></p>
<% } %>
<h1><%= profile.get("t_" + settings.global.fname) %> <%= profile.get("t_" + settings.global.lname) %></h1>
<h2>Basic information</h2>
<h5>Email address</h5>
<p><%= user.getEmail() %></p>
<%- JSON.stringify(settings.global.group) %>
<% _.each(globalGroup.get("traits"), function(trait) { %>
	<h5><a href="/match/<%= trait.id %>"><%= trait.get("name") %></a></h5>

	<% if (trait.get("type") == "text" ||
		   trait.get("type") == "radio" ||
		   trait.get("type") == "checkbox" ||
		   trait.get("type") == "select") { %>
		<p><a href="/match/<%= trait.id %>/<%= profile.get("t_" + trait.id) %>"><%= profile.get("t_" + trait.id) %></a></p>
	<% } 
}); %>

<br />
<% if (typeof(customGroups) !== 'undefined' && customGroups.length > 0) { %>
	<% _.each(customGroups, function(group, i) { 
		if (typeof(group.get("traits")) !== "undefined") { %>
			<% if (i == 0) { %>
			<h2>Group fields</h2>
			<% } %>

			<h4><%= group.get("name") %></h4>
			<% _.each(group.get("traits"), function(trait) { %>
				<h5><%= trait.get("name") %></h5>
					<% if (trait.get("type") == "text" ||
						   trait.get("type") == "radio" ||
						   trait.get("type") == "checkbox" ||
						   trait.get("type") == "select") { %>
						<p><%- profile.get("t_" + trait.id) %></p>
					<% } %>
					<% if (trait.get("type") == "date") { %>
					<!-- // TODO: change to three dropdowns and a hidden date string input -->
						<input name="t_<%= trait.id %>" id="t_<%= trait.id %>" type="date" value="<%- profile.get(trait.id) %>" />
					<% } %>
					
					<p>This trait type is: 
					<% if (trait.get("type") == "text") { %> Text<% } %>
                    <% if (trait.get("type") == "date") { %> Date<% } %>
                    <% if (trait.get("type") == "radio") { %> Radio<% } %>
                    <% if (trait.get("type") == "select") { %> Select<% } %>
                    <% if (trait.get("type") == "checkbox") { %> Checkbox<% } %></p>
	                    
	                <br /><br />
			<% });
		}
	});
} else { %>
<h3>You don't have any groups</h3>
<p>How about <a href="/group/new">starting one</a>?</p>
<% } %>

<% if (typeof(invites) !== 'undefined' && invites.length > 0) { %>
	<h3>You've been invited to these groups</h3>

	<% _.each(invites, function(invite, i) { %>
		<%= invites[i].get("name") %> <a href="/group/<%= invites[i].get("slug") %>/join">Join</a><br />
	<% } ) %>
<% } %>
<br />
<% if (typeof(customGroups) !== 'undefined' && customGroups.length > 0) { %>
	<% if (selfView) { %>
	<h3>Your groups</h3>
	<% } else { %>
	<h3>Groups you and <%= profile.get("t_" + settings.global.fname) %> have in common</h3>
	<% } %>
	<% _.each(customGroups, function(group) { %>
		 <a href="/group/<%= group.get("slug") %>"><%= group.get("name") %></a><br />
	<% } ); %>
<% } %>

<br />

<% if (selfView) { %>
	<p><a href="/profile/edit">Edit profile</a></p>
<% } %>