
<% if (typeof(error) !== 'undefined') { %>
	<p><%= error %></p>
	<p><%= errorParseMessage %></p>
<% } %>
<% if (typeof(message) !== 'undefined') { %>
	<p><%= message %></p>
<% } %>

<p>First name:</p>
<%- user.get("fname") %>
<br />

<p>Last name:</p>
<%- user.get("lname") %>
<br />

<p>Email</p>
<%- user.getEmail() %>

<br />
<p>Photo</p>
var secureUrl = gravatar.url('emerleite@gmail.com', {s: '100', r: 'x', d: 'retro'}, true);


<p><a href="/profile/edit">Edit profile</a></p>